<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changedPage($event)" [currentPage]="page" *ngIf="page"
            (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser"
            (onLogout)="logout($event)"></app-menu>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs class="hamburger-menu-wrapper">
                <button mat-icon-button (click)="onToggleSidenav(sidenav)"><mat-icon>menu</mat-icon></button>
            </div>
            <div>Museum Ticket Shop</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                    <li *ngIf="!loggedInUser"><a routerLink="/signup">Register</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/main">Main</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/exhibits">Exhibits</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/profile">Profile</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>

        </mat-toolbar>


        <!-- 
<ng-container [ngSwitch]="page">
    <ng-container *ngSwitchCase="'main'">
        <div class="main_component">
            <app-main></app-main>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'exhibits'">
        <app-exhibits></app-exhibits>
    </ng-container>

    <ng-container *ngSwitchCase="'contact'">
        <app-contact>
            <h1>This is the contact page.</h1>
        </app-contact>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <h1>Page not found...</h1>
    </ng-container>
</ng-container> -->

        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>