div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
}

img {
    height: 60%;
    width: auto;
    align-self: center;
}